body {
    font-size: 14px;
    font-family: "Halvetica", sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

.navbar-brand {
    width: 100px;
    height: 34px;
    background-color: #0d28a6;
}

.navbar,
#banner {
    background-color: #F1F3FF;
}

.btn-green {
    background-color: #5CB85F;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

/*navbar */


/* Banner */
#banner p {
    margin: 25px 0;
}

/* Our Services */
#our-services ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

#our-services h2 {
    margin-top: 20px;
}

#our-services {
    display: flex;
    align-items: center;
    padding: 50px 0;
}

#our-services li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#our-services li:before {
    content: url(/public/assets/Ellipse.svg);
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

.border-secondary {
    border: 1px solid #d0d0d0;
}

/* Why US */
#why-us {
    padding: 30px 0;
}

#why-us .card {
    /* display: flex; */
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
}

#why-us .card-body {
    margin-top: 10%;
}

@media screen and (max-width:991px) {
    .custom-text {
        text-align: center;
    }
}

/* Testimonial */
#testimonial {
    padding: 30px 0;
}

#testimonial .card {
    background-color: #F1F3FF;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.owl-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#testimonial .col-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;

}

#testimonial img {
    width: 80px;
}

@media screen and (max-width:991px) {
    #testimonial img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 7px 0;
    }
}

/* Sewa Mobil */
.sewa {
    padding: 30px 0;
    background-color: #0d28a6;
    border-radius: 13px;
}

.sewa h2 {
    color: #FFFFFF;
}

.sewa p {
    color: #FFFFFF;
    padding-top: 16px;
    margin: 0 30%;
}

.sewa a {
    margin-top: 52px;
}

@media screen and (max-width:991px) {

    .sewa h2,
    .sewa p {
        margin: 0 10%;
    }
}

/* FAQ */
#faq {
    padding: 30px 0;
}

.accordion,
.accordion-item {
    padding-bottom: 20px;
    border: none;
}

.accordion h2 {
    border: solid;
    border-width: 1px;
    border-color: #D4D4D4;
    border-radius: 4px;
}

#faq p {
    margin-bottom: 30px;
    margin-top: 20px;
}


/*Footer */
footer {
    padding: 30px 0;
}

footer p {
    padding-bottom: 20px;
}

footer .col-2 {
    font-weight: bold;
}

div .image {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

footer div.brand {
    width: 100px;
    height: 34px;
    background-color: #0d28a6;
    margin: none;
}